<nav class="navbar has-background-light">
  <div class="navbar-brand">
    <div class="navbar-item">
      <h1 class="title">ComiKart</h1>
    </div>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#link-to "dashboard" class="button"}}
            Home
          {{/link-to}}
          {{#link-to "cart" class="button"}}
            Cart
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</nav>