{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
{{#link-to "home" class="button"}}
    <button>
        Contact Us
    </button>
{{/link-to}}
{{home}}
{{outlet}}